/*************
Custom CSS to override all other CSS
Author:Asif-Rahaman

*******************/
/* body{
	background: #000;
} */

.width1{
	width: 25%;
}
.width2{
	width: 50%;
}
.width3{
	width: 75%;
}
.width2{
	width: 100%;
}
.specification tr:nth-child(even) {
    background-color: #fcfcfc;
}
.specification td{
	padding-left: 15px !important;
}
.sp_type{
	width:35%;
	background: rgba(232, 228, 227, 0.5);
	font-weight: 900;
	text-align: center; 
}